html, body {height: 100%; margin: 0; padding: 0;}
body {
	background:url(bg_01.jpg) no-repeat , #f2f2f2;
	font-family:Arial, Helvetica, sans-serif ;
	font-size:18px;
	color:#454545;
	overflow-x: hidden !important;
	}
	
.menu {
	background:url(menu.jpg) repeat-x;
	height:38px;
	width:998px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
}
#menu {margin-top:10px; }
#footer {  
    bottom: 0; float:left ;
	margin-top:140px;
 }
.line1 {
	background:url(podmenu.jpg) repeat;
	width:auto;
	height:27px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	}
.text-line1 {
	padding-top:2px; padding-left:12px;
}
.title {
	background:url(title.gif) repeat-x;
	height:27px;
	text-align:center;
	font-size:18px;
	color:#f2f2f2;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
}
#title { margin:8 8 ; } 
.button {
	background:url(buttons.jpg) repeat-x;
	height:23px;
	border-style:none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	color:#f2f2f2;
}
#button_line:hover {
	 opacity:0.5; 
 -moz-opacity:0.5; 
 filter: alpha(opacity=50) #06F; 
 -khtml-opacity: 0.5; 
 background-color:#FFF; 
}
#button_line {
	float:right; margin-top:2px; margin-right:12px; padding: 0 6 0 6;
}
.center {
	background:#e3e3e3;
	width:717px;
	border: 4  solid #bababa ;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
}
#center { float:right; }
.left {
	background:#e3e3e3;
	width:257px;
	border: 4  solid #bababa ;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	font-size:15px;

}
A.left_navi { 	
	color:#454545;
	text-decoration:none; }
A.left_navi:hover { background:url(buttons.jpg) repeat-x;
	height:23px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px; 
	border-radius:10px;
	padding: 0 6 0 6;
	color:#f2f2f2;
}
a {  text-decoration:none; color:#2e2e2e; }
a:hover { color:#9ee355 ; }

#left { float:left ; }
#logo {
	background:url(logo.png) no-repeat; width:910px; height:60px;  margin: 45 auto; }
#shadow {
	background:url(shadow_03.png) no-repeat;
	width:997px;
	height:22px;
}
#menu_logo {
	background:url(miny_03.jpg) no-repeat;
	width:72px; height:38px; float:left; margin-left:10px;
}
#menu_notice{
	background:url(miny_04.jpg) no-repeat;
	width:162px; height:38px; float:left;
}
#menu_notice:hover{
	background-position:bottom;
}
#menu_dow{
	background:url(miny_05.jpg) no-repeat;
	width:173px; height:38px; float:left; 
}
#menu_dow:hover{
	background-position:bottom;
}
#menu_menu{
	background:url(miny_06.jpg) no-repeat;
	width:151px; height:38px; float:left; 
}
#menu_menu:hover{
	background-position:bottom;
}
#menu_ban{
	background:url(miny_07.jpg) no-repeat;
	width:110px; height:38px; float:left; 
}
#menu_ban:hover{
	background-position:bottom;
}
#menu_acc{
	background:url(miny_08.jpg) no-repeat;
	width:167px; height:38px; float:left; 
}
#menu_acc:hover{
	background-position:bottom;
}
.menu_line {
	background:url(menu%20list.gif) no-repeat;
	width:9px; height:38px; float:left;
}
#menu1_logo {
	background:url(miny_11.jpg) no-repeat;
	width:76px; height:38px; float:left; margin-left:10px;
}

#menu2_right {
	background:url(miny_12.jpg) no-repeat;
	width:250px; height:38px; float:left; margin-left:2px;
}
#menu3_right {
	background:url(miny_13.jpg) no-repeat;
	width:195px; height:38px; float:left; margin-left:2px;
}

#origin { margin: 0 auto; width:998px;  }
ul li  {
	text-align: center;
	list-style-type:none;
	margin-left:-40px;
}


.text_center { padding:10px; }